/*Documento general*/
html{
    background-color: rgb(148, 148, 148);
}

/*INICIO MENU HORIZONTAL*/
/*nav general*/
nav {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    overflow: hidden;
    background-image: linear-gradient(to bottom, rgb(77, 77, 77), rgb(148, 148, 148));
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    border-bottom: 50px solid linear-gradient(to right, rgb(0, 0, 0), rgb(148, 148, 148));;
}
/*anchors dentro nav*/
nav a {
    float: left;
    display: block;
    color: rgb(231, 255, 11);
    margin-top: 30px;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 50px;
    margin-right: 80px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;

}
/*anchors cuado pasas por encima*/
nav a:hover {
    background-color: rgb(100, 100, 100);
}

/*Pagina activa*/
#active{
background-color: rgb(80, 80, 80);
color: rgb(2, 54, 96);
}
/*Logotipo Menu*/
#logotipo{
    float: left;
    width: 475px;
    height: 90px;
    margin-right: 50px;
    margin-left: 10px;
}

#buscar{
    margin-top: 40px;
    margin-left: 60px;
}
/*FIN MENU HORIZONTAL*/

body{
    background-color: rgb(148, 148, 148);
    color: rgb(2, 54, 96);
}

#enlace{
    text-decoration: none;
    color: rgb(2, 54, 96);
}

/*INICIO MENU VERTICAL*/
#menuvertical{
    position: fixed; 
    right: 0; 
    top: 50%; 
    transform: translateY(-50%);
    background-color: white; 
    border: 1px solid black; 
    padding: 10px;
    margin-right: 8px;
}
/*FIN MENU VERTICAL*/

/*INICIO COOKIES*/
#cookie-message {
    background-color: rgb(77, 77, 77);
    margin-left: -8px;
    bottom: 0;
    color: #fff;
    padding: 20px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 999;
    
}

#cookie-message button {
    background-color: #333;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px;
  }
  
#cookie-message button:hover {
    background-color: #444;
}
/*FIN COOKIES*/

/*INICIO GRID*/

.box{
    box-sizing: border-box;
    padding: 2px;
    margin-bottom: 20px;
    width: 300px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.parent{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 20px;
    grid-template-areas: 
    "uno dos tres"
    "cuatro cinco seis"
    "siete ocho ";
}
.box img {
    transition: transform 0.5s; 
}

.box img:hover {
    transform: scale(1.1); 
}
/*FIN GRID*/
/*FLEXBOX*/
.parentflex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.boxflex {
  flex-basis: calc(25% - 20px);
  max-width: calc(25% - 20px);
}
.boxflex img {
  transition: transform 0.5s; 
}

.boxflex img:hover {
  transform: scale(1.1); 
}
/*FLEXBOX*/

/*INICIO FORMULARIO LOGIN*/
form {
  max-width: 500px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="checkbox"] {
  margin-right: 5px;
}

button[type="submit"] {
  background-color: rgb(2, 54, 96);;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: yellow;
  color: black;
}
/*FIN FORMULARIO LOGIN*/

/*INICIO RESPONSIVE*/
/* Estilos para dispositivos con una anchura menor o igual a 576px*/
@media screen and (max-width: 576px) {
    /* Estilos para la cabecera */
    .header {
      padding: 20px 10px;
    }
    .logo {
      font-size: 24px;
      margin-right: 10px;
    }
    .nav {
      flex-direction: column;
    }
    .nav a {
      padding: 10px 0;
      border-bottom: 1px solid #ccc;
    }
    /* Estilos para el contenido */
    .main {
      padding: 20px 10px;
    }
    .article {
      margin-bottom: 20px;
    }
    .article img {
      max-width: 100%;
      height: auto;
    }
    .article h2 {
      font-size: 24px;
    }
    .article p {
      font-size: 16px;
      line-height: 1.5;
    }
  }
  
  /* Estilos para dispositivos con una anchura mayor a 576px y menor o igual a 768px */
  @media screen and (min-width: 577px) and (max-width: 768px) {
    /* Estilos para la cabecera */
    .header {
      padding: 20px;
    }
    .logo {
      font-size: 32px;
      margin-right: 20px;
    }
    .nav {
      flex-direction: row;
    }
    .nav a {
      padding: 20px;
      border-bottom: none;
    }
    /* Estilos para el contenido */
    .main {
      padding: 40px;
    }
    .article {
      margin-bottom: 40px;
    }
    .article img {
      max-width: 100%;
      height: auto;
    }
    .article h2 {
      font-size: 32px;
    }
    .article p {
      font-size: 18px;
      line-height: 1.5;
    }
  }
  
  /* Estilos para dispositivos con una anchura mayor a 768px */
  @media screen and (min-width: 769px) {
    /* Estilos para la cabecera */
    .header {
      padding: 40px;
    }
    .logo {
      font-size: 48px;
      margin-right: 40px;
    }
    .nav {
      flex-direction: row;
    }
    .nav a {
      padding: 20px;
      border-bottom: none;
    }
    /* Estilos para el contenido */
    .main {
      padding: 60px;
    }
    .article {
      margin-bottom: 60px;
    }
    .article img {
      max-width: 100%;
      height: auto;
    }
    .article h2 {
      font-size: 48px;
    }
    .article p {
      font-size: 20px;
      line-height: 1.5;
    }
  }
  
/*FIN RESPONSIVE*/

.listatalleres ul {
  padding-left: 0;
  list-style-position: inside;
}

.listatalleres li {
  padding-left: 1em;
}

/*INICIO SPRITE-ICONS*/
#sprite-icons-social table a{
  display:block;
  width: 38px;
  height: 38px;
  background:url(./imagenes/iconos_social.png);
  float:left;
  margin: 4px;
  transition: all 0.4s ease;
}

#sprite-icons-social table a.facebook{
  background-position: -47px -18px;
}

#sprite-icons-social table a.instagram{
  background-position: -9px -18px;
}

#sprite-icons-social table a.twitter{
  background-position: -85px -76px;
}

#sprite-icons-social td a:hover{
  background-color:black;
  border:2px solid black;
  border-radius:26px;
  transform:rotate(360deg);
}
#social{
  border-style: none;
}
/*FIN SPRITE-ICONS*/
