/*Documento general*/
html{
    background-color: rgb(148, 148, 148);
}

/*INICIO MENU HORIZONTAL*/
/*nav general*/
nav {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    overflow: hidden;
    background-image: linear-gradient(to bottom, rgb(77, 77, 77), rgb(148, 148, 148));
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    border-bottom: 50px solid linear-gradient(to right, rgb(0, 0, 0), rgb(148, 148, 148));;
}
/*anchors dentro nav*/
nav a {
    float: left;
    display: block;
    color: rgb(231, 255, 11);
    margin-top: 30px;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 50px;
    margin-right: 80px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;

}
/*anchors cuado pasas por encima*/
nav a:hover {
    background-color: rgb(100, 100, 100);
}

/*Pagina activa*/
#active{
background-color: rgb(80, 80, 80);
color: rgb(2, 54, 96);
}
/*Logotipo Menu*/
#logotipo{
    float: left;
    width: 475px;
    height: 90px;
    margin-right: 50px;
    margin-left: 10px;
}

#buscar{
    margin-top: 40px;
    margin-left: 60px;
}
/*FIN MENU HORIZONTAL*/

body{
    background-color: rgb(148, 148, 148);
    color: rgb(2, 54, 96);
}

#enlace{
    text-decoration: none;
    color: rgb(2, 54, 96);
}

/*INICIO MENU VERTICAL*/
#menuvertical{
    position: fixed; 
    right: 0; 
    top: 50%; 
    transform: translateY(-50%);
    background-color: white; 
    border: 1px solid black; 
    padding: 10px;
    margin-right: 8px;
}
/*FIN MENU VERTICAL*/

/*INICIO COOKIES*/
#cookie-message {
    background-color: rgb(77, 77, 77);
    margin-left: -8px;
    bottom: 0;
    color: #fff;
    padding: 20px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 999;
    
}

#cookie-message button {
    background-color: #333;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px;
  }
  
#cookie-message button:hover {
    background-color: #444;
}
/*FIN COOKIES*/

/*INICIO GRID*/

.box{
    box-sizing: border-box;
    padding: 2px;
    margin-bottom: 20px;
    width: 300px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.parent{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 20px;
    grid-template-areas: 
    "uno dos tres"
    "cuatro cinco seis"
    "siete ocho ";
}
.box img {
    transition: transform 0.5s; 
}

.box img:hover {
    transform: scale(1.1); 
}
/*FIN GRID*/

